# Sulje node_modules pois (ei tarvita, koska riippuvuudet asennetaan buildissä)
node_modules

# Kehityksen ja versionhallinnan tiedostot
.git
.gitignore
.idea
.vscode

# Väliaikaiset ja lokitiedostot
*.log
*.tmp

# Expo-kehityskansiot
.expo
.expo-shared

# Build- ja jakelutiedostot
dist
build
web-build

# Testitiedostot
__tests__
*.spec.js
*.test.js

# Ympäristömuuttujatiedostot (jos et halua niiden olevan mukana buildissä)
.env
.env.local
.env.development
