# Firebase Configuration
# Nämä arvot tulevat google-services.json tiedostosta
FIREBASE_API_KEY=AIzaSyA4n1pMKZS2givuFmoS2PbwnvzqYNhCSiM
FIREBASE_AUTH_DOMAIN=parents2teachers-1d8a3.firebaseapp.com
FIREBASE_PROJECT_ID=parents2teachers-1d8a3
FIREBASE_STORAGE_BUCKET=parents2teachers-1d8a3.firebasestorage.app
FIREBASE_MESSAGING_SENDER_ID=892513281177
FIREBASE_APP_ID=1:892513281177:android:63a652effb07a0b68c4408

# HUOM: Älä commitoi tätä tiedostoa produktiossa!
# Lisää .env .gitignore tiedostoon